#content{
  width:  550px;
  align-items: center;
  position: center;
  margin-left: 20px;
}
#row{
  padding-top: 20px;
}
#table{
  padding-top: 20px;
}
#head{
  background-color:#a14ea3;
  color: white;
  border-bottom: rgb(232, 229, 229) solid;
}
#buttons{
  background-color: #a14ea3;
  border-color: #a14ea3;
}
#row2{
  padding-top: 20px;
  border: #a14ea3 solid 3px;
}
#grid{
  width: 550px;
}
#table{
  align-items: center;
}
