<div class="container">
    <div class="row mb-4">
        <div class="col">
            <h2>Select seats</h2>
        </div>
    </div>
    <!-- <div class="row mb-4">
        <div class="col" *ngFor="let flight of flights; index as i;">
            Flight {{i+1}}
        </div>
    </div> -->
    <div class="row mb-4">
        <div class="col"><strong>Date</strong> {{date}}</div>
        <div class="col"><strong>Flight</strong> {{flight}}</div>
        <div class="col"><strong>Aircraft</strong> {{airplane}}</div>
        <div class="col"><strong>Duration</strong> 3h 41m</div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row mb-3">
                <div class="col">
                    <h5>Select seats for {{origin}} to {{destination}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <img src="assets/images/seats.jpg" class="card-img-top" alt="seats">
                        <div class="card-body">
                            <p class="card-text">This is how the seats for this plane looks like.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- SeatMap -->
        <div class="col-md-auto">
            <div class="row mb-3">
                <div class="col">
                    <div class="lavatory"></div>
                </div>
                <div class="col">
                    <div class="galley" style="float: right;"></div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <div class="galley"></div>
                </div>
                <div class="col">
                    <div class="galley" style="float: right;"></div>
                </div>
            </div>
            <div class="row mb-2" *ngFor="let row of aircraft; index as i">
                <div class="col" *ngFor="let rowItem of row; index as j">
                    <ng-container *ngIf="rowItem === 2; else seatTemplate">
                        <a>{{i+1}}</a>
                    </ng-container>
                    <ng-template #seatTemplate>
                        <ng-container *ngIf="rowItem === 0; else unavailable">
                            <a (click)="pickSeat()">
                                <div class="square">
                                    <p>{{seatCol[j]}}-{{seatRow[i]}}</p>
                                </div>
                            </a>
                        </ng-container>
                    </ng-template>
                    <ng-template #unavailable>
                        <div class="x">
                            <p>{{seatCol[j]}}-{{seatRow[i]}}</p>
                        </div>
                    </ng-template>

                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <div class="lavatory"></div>
                </div>
                <div class="col">
                    <div class="lavatory" style="float: right;"></div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col" style="background-color: grey; border-radius: 5px;">
                    <div class="galley" style="margin-left: 40%;"></div>
                </div>
            </div>

        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-5">Legend</h5>
                    <div class="row">
                        <div class="col-md-auto">
                            <div class="legend-available mb-3">
                            </div>
                        </div>
                        <div class="col">
                            <p class="p-available">Available</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-auto">
                            <div class="legend-selected mb-3"></div>
                        </div>
                        <div class="col">
                            <p class="p-available">Selected</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-auto">
                            <div class="legend-unavailable mb-3"></div>
                        </div>
                        <div class="col">
                            <p class="p-available">Unavailable</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-auto">
                            <div class="legend-lavatory mb-3"></div>
                        </div>
                        <div class="col">
                            <p class="p-lavatory">Lavatory</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-auto">
                            <div class="legend-galley mb-3"></div>
                        </div>
                        <div class="col">
                            <p class="p-galley">Galley</p>
                        </div>
                    </div>
                </div>

            </div>
            <h6>Subtotal (all seats): 0.00 CRC</h6>
            <button id="pay-btn" class="btn btn-primary" routerLink="/check-out">Continue to payment</button>
        </div>
    </div>
</div>