<div  id="background" >
  <div class="container">
    <div class="row align-items-center">
      <div id="col" class="col">
      </div>
      <div id="col2" class="col">
        <table id="table" class="table "> <!--Se debe llenar con el la informacion de la BD-->
          <thead>
            <tr>
              <th scope="col">Flight Number</th>
              <th scope="col">Date</th>
              <th scope="col">Origin</th>
              <th scope="col">Destination</th>
              <th scope="col">Boarding Gate</th>
              <th scope="col">Airplane</th>
              <th scope="col">Status</th>
              <th scope="col">Price</th>
              <th><a id="buttons" class="btn btn-primary btn-sm " href="/flightsManagement" role="button"> Create Flight</a></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of information">
              <th scope="row">{{item.id}}</th>
              <td>{{item.day}}/{{item.month}}/{{item.year}}</td>
              <td>{{item.origin}}</td>
              <td>{{item.destination}}</td>
              <td>{{item.boarding_gate}}</td>
              <td>{{item.airplane_plate}}</td>
              <td>{{item.status}}</td>
              <td>${{item.price}}</td>
              <td> <a id="buttons" class="btn btn-primary btn-sm " (click)="getInfo(item.id, item.origin, item.destination,item.year,item.month,item.day,item.hours,item.minutes)" role="button">Info </a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id ="col" class="col">

      </div>
    </div>
  </div>
</div>

