<div class="container ">
    <div class="row">
        <div class="login-container col-lg-4 col-md-6 col-sm-8 col-xs-12">
            <div class="login-title text-center">
                <h2><span>Sign up</span></h2>
            </div>
            <div class="login-content">
                <div class="login-header ">
                    <h3><strong>Welcome,</strong></h3>
                    <h5>Please enter below, the required information</h5>
                </div>
                <div class="login-body">
                    <form role="form" action="" method="post" class="login-form">
                        <div class="form-group ">
                            <div class="pos-r">
                                <input id="form-username" type="text" name="form-username" placeholder="Name"
                                    class="form-username form-control">
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                        <div class="br">
                            <br>
                        </div>
                        <div class="form-group ">
                            <div class="pos-r">
                                <input id="form-phone" type="text" name="form-phone" placeholder="Phone number"
                                    class="form-phone form-control">
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                        <div class="br">
                            <br>
                        </div>
                        <div class="form-group ">
                            <div class="pos-r">
                                <input id="form-email" type="text" name="form-email" placeholder="Email"
                                    class="form-email form-control">
                                <i class="fa fa-email"></i>
                            </div>
                        </div>
                        <div class="br">
                            <br>
                        </div>
                        <div class="form-group">
                            <div class="pos-r">
                                <input id="form-password" type="password" name="form-password" placeholder="Password"
                                    class="form-password form-control">
                                <i class="fa fa-lock"></i>
                            </div>
                        </div>
                        <div class="br">
                            <br>
                        </div>
                        <div class="student">
                            <select id="select" class="form-select" (change)="chooseRole()">
                                <option selected>Choose your role</option>
                                <option value="1" id="Client">Client</option>
                                <option value="2" id="Student">Student</option>
                                <option value="3" id="Employee">Employee</option>
                            </select>
                        </div>
                        <div class="br">
                            <br>
                        </div>
                        <div class="student" [style.display]="isVisible ? 'block' : 'none'">
                            <div class="form-group" id="hide">
                                <div class="pos-r">
                                    <input id="form-college" type="text" name="form-college" placeholder="College"
                                        class="form-college form-control">
                                    <i class="fa fa-user"></i>
                                </div>
                            </div>
                            <div class="br" id="hide">
                                <br>
                            </div>
                            <div class="form-group" id="hide">
                                <div class="pos-r">
                                    <input id="form-id-student" type="text" name="form-id-student"
                                        placeholder="Student card" class="form-id-student form-control">
                                    <i class="fa fa-user"></i>
                                </div>
                            </div>
                            <div class="br" id="hide">
                                <br>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit"
                                class="btn btn-primary form-control"><strong>Register</strong></button>
                        </div>

                    </form>
                </div> <!-- end  login-body -->
            </div><!-- end  login-content -->
            <div class="login-footer text-center template">
                <h5>Already have an account? <a routerLink="/login" class="bold">Sign in</a>.</h5>
            </div>
        </div> <!-- end  login-container -->

    </div>
</div><!-- end container -->