<div class="container ">
    <div class="row">
        <div class="login-container col-lg-4 col-md-6 col-sm-8 col-xs-12">
            <div class="login-title text-center">
                <h2><span>Sign up</span></h2>
            </div>
            <div class="login-content">
                <div class="login-header ">
                    <h3><strong>Welcome,</strong></h3>
                    <h5>Please enter below, the required information</h5>
                </div>
                <div class="login-body">
                    <form role="form" [formGroup]="registerForm" (ngSubmit)="postForm(registerForm.value)"
                        class="login-form">
                        <div class="form-group ">
                            <div class="pos-r">
                                <input id="form-username" type="text" name="form-username" placeholder="Full Name"
                                    class="form-username form-control" formControlName="fullName">
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                        <div class="br">
                            <br>
                        </div>
                        <div class="form-group ">
                            <div class="pos-r">
                                <input id="form-id" type="text" name="form-id" placeholder="ID number"
                                    class="form-id form-control" formControlName="id">
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                        <div class="br">
                            <br>
                        </div>
                        <div class="form-group ">
                            <div class="pos-r">
                                <input id="form-phone" type="text" name="form-phone" placeholder="Phone number"
                                    class="form-phone form-control" formControlName="phone">
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                        <div class="br">
                            <br>
                        </div>
                        <div class="form-group ">
                            <div class="pos-r">
                                <input id="form-email" type="text" name="form-email" placeholder="Email"
                                    class="form-email form-control" formControlName="email">
                                <i class="fa fa-email"></i>
                            </div>
                        </div>
                        <div class="br">
                            <br>
                        </div>
                        <div class="form-group">
                            <div class="pos-r">
                                <input id="form-password" type="password" name="form-password" placeholder="Password"
                                    class="form-password form-control" formControlName="password">
                                <i class="fa fa-lock"></i>
                            </div>
                        </div>
                        <div class="br">
                            <br>
                        </div>
                        <div class="form-group">
                            <div class="student">
                                <select id="select" class="form-select" (change)="chooseRole()"
                                    formControlName="role_name">
                                    <option selected>Choose your role</option>
                                    <option value="Client" id="Client">Client</option>
                                    <option value="Student" id="Student">Student</option>
                                    <option value="Worker" id="Employee">Worker</option>
                                </select>
                            </div>
                        </div>

                        <div class="br">
                            <br>
                        </div>
                        <div class="student" [style.display]="isVisible ? 'block' : 'none'">
                            <div class="form-group" id="hide">
                                <div class="pos-r">
                                    <input id="form-college" type="text" name="form-college" placeholder="College"
                                        class="form-college form-control" formControlName="university">
                                    <i class="fa fa-user"></i>
                                </div>
                            </div>
                            <div class="br" id="hide">
                                <br>
                            </div>
                            <div class="form-group" id="hide">
                                <div class="pos-r">
                                    <input id="form-id-student" type="text" name="form-id-student"
                                        placeholder="Student card" class="form-id-student form-control"
                                        formControlName="student_id">
                                    <i class="fa fa-user"></i>
                                </div>
                            </div>
                            <div class="br" id="hide">
                                <br>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary form-control" data-bs-toggle="modal"
                                data-bs-target="#completed"><strong>Register</strong></button>
                        </div>

                    </form>
                </div> <!-- end  login-body -->
            </div><!-- end  login-content -->
            <div class="login-footer text-center template">
                <h5>Already have an account? <a routerLink="/login" class="bold">Sign in</a>.</h5>
            </div>
        </div> <!-- end  login-container -->

    </div>
</div><!-- end container -->

<!-- Modal -->
<div class="modal fade" id="completed" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sign up</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                New account succesfully created!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="login()">Login</button>
            </div>
        </div>
    </div>
</div>