<div class="container">
    <div class="row mb-4">
        <div class="col">
            <h2>Checkout</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class=" card">
                <div class="card-header">
                    Payment information
                </div>
                <div class="card-body">
                    <p>Please complete your payment below.</p>
                    <h5 class="mb-3">Payment method</h5>
                    <select class="form-select mb-4" id="select" (change)="choosePaymentMethod()">
                        <option selected>Select the payment method</option>
                        <option value="1">Credit or Debit</option>
                        <option value="2">Travel credits</option>
                        <option value="3">Paypal</option>
                    </select>
                    <div class="payment" [style.display]="isVisible ? 'block' : 'none'">
                        <div class="hide-card">
                            <h5 class="mb-3">Card information</h5>
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="card" class="form-label">Card number
                                    </label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col">
                                    <label for="card" class="form-label">Exp. date
                                    </label>
                                    <input type="text" class="form-control" placeholder="MM/YY">
                                </div>
                                <div class="col">
                                    <label for="card" class="form-label">Security code
                                    </label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col"><label for="card" class="form-label">Name on card
                                    </label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <h5 class="mb-3">Billing information</h5>
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="card" class="form-label">Billing address line 1
                                    </label>
                                    <input type="text" class="form-control">
                                </div>

                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="card" class="form-label">Billing address line 2 <p class="optional">
                                            (optional)
                                        </p>
                                    </label>
                                    <input type="text" class="form-control">
                                </div>

                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="card" class="form-label">City/town/department
                                    </label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col">
                                    <label for="card" class="form-label">State/province/region
                                    </label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col">
                                    <label for="card" class="form-label">Zip/postal code
                                    </label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="div col">
                                    <label for="card" class="form-label">Country/region
                                    </label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="card" class="form-label">Country/region code
                                    </label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col">
                                    <label for="card" class="form-label">Phone number
                                    </label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col">
                                    <label for="card" class="form-label">Email address
                                    </label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <h5 class="mb-3">Agree and purchase</h5>
                            <div class="row">
                                <div class="col-md-7">By selecting "Buy now," you agree to the terms and conditions
                                    that is
                                    associated with this purchase.</div>
                                <div class="col">
                                    <button class="btn btn-primary" id="buy">Buy now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="trip-card">
                <h5 class="card-header">Your Trip</h5>
                <div class="card-body" id="trip-card">
                    <h5 class="card-title">Type of Flight</h5>
                    <div class="card" id="city-card">
                        <h6>{{origin}} to {{destination}}</h6>
                        <ng-container *ngIf="numberOfStops===1; else zeroTemplate">
                            <p>{{date}} - 3:00am to 1:10pm - 1 Stop</p>
                        </ng-container>
                        <ng-template #zeroTemplate>
                            <ng-container *ngIf="numberOfStops===0; else stopsTemplate">
                                <p>{{date}} - 3:00am to 1:10pm - Direct
                                </p>
                            </ng-container>
                        </ng-template>
                        <ng-template #stopsTemplate>
                            <p>{{date}} - 3:00am to 1:10pm - {{numberOfStops}}
                                Stops
                            </p>
                        </ng-template>
                        <details>
                            <summary>Show details</summary>
                            <div class="container-details">
                                <ng-container *ngIf="hasStopOvers===false; else stopOversTemplate">
                                    <div class="row mb-2">
                                        <div class="col">
                                            <div class="line-1"></div>
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col">
                                            <h6>{{origin}} to {{destination}}</h6>
                                        </div>
                                    </div>
                                    <!-- <div class="row mb-2">
                                        <div class="col">Jun 3 * 3:05 am to 7:46 am</div>
                                    </div> -->
                                    <div class="row mb-2">
                                        <div class="col"><strong>Duration:</strong> 3h 41m</div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col"><strong>Flight number:</strong> {{flight}}</div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col"><strong>Aircraft type:</strong> {{airplane}}</div>
                                    </div>
                                </ng-container>
                                <ng-template #stopOversTemplate>
                                    <div class="template" *ngFor="let stop of stepOvers">
                                        <div class="row mb-2">
                                            <div class="col">
                                                <div class="line-dotted"></div>
                                            </div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col">
                                                <h6>Stop: {{stop.city}}, {{stop.country}}</h6>
                                            </div>
                                        </div>
                                        <!-- <div class="row mb-2">
                                            <div class="col">Jun 3 * 3:05 am to 7:46 am</div>
                                        </div> -->
                                        <div class="row mb-2">
                                            <div class="col"><strong>Duration:</strong> {{stop.duration}}</div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col"><strong>Flight number:</strong> {{stop.flightNumber}}</div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col"><strong>Aircraft type:</strong> {{airplane}}</div>
                                        </div>
                                    </div>
                                </ng-template>


                            </div>
                        </details>
                    </div>
                    <div class="row">
                        <div class="col">Fare</div>
                        <div class="col">000 CRC</div>
                    </div>
                    <div class="row">
                        <div class="col">Taxes & fees</div>
                        <div class="col">000 CRC</div>
                    </div>
                    <div class="row">
                        <div class="col"><strong>Total due</strong></div>
                        <div class="col">000 CRC</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>