<div id="background">
 <div class="br">
  <br>
  <div id="titleText">
    <h3 id = "title">
      Baggage Management
      <small id ="subtitle" >Create, Edit and Delete Baggage</small>
    </h3>
  </div>
  <br>
  <br>
 </div>
  <div id="bgTable">
    <table id="table" class="table "> <!--Se debe llenar con el la informacion de la BD-->
      <thead>
        <tr>
          <th scope="col">Baggage Id</th>
          <th scope="col">Owner</th>
          <th scope="col">Weight</th>
          <th scope="col">Color</th>
          <th><a id="buttons" class="btn btn-primary btn-sm " href="/baggageCreation" role="button"> Add Baggage</a></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>59 Kg</td>
          <td>Green</td>
          <td> <a id="buttons" class="btn btn-primary btn-sm " href="#" role="button">Delete </a></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>20 Kg</td>
          <td>Blue</td>
          <td> <a id = buttons class="btn btn-primary btn-sm " href="#" role="button">Delete </a></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>30Kgr</td>
          <td>Purple</td>
          <td> <a id="buttons" class="btn btn-primary btn-sm " href="#" role="button">Delete </a></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

