<div  id="background" >
  <div class="container">
    <div class="row align-items-center">
      <div id="col" class="col">
      </div>
      <div id="col2" class="col">
        <table id="table" class="table "> <!--Se debe llenar con el la informacion de la BD-->
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Owner</th>
              <th scope="col">Color</th>
              <th scope="col">Weight</th>
              <th scope="col">Price</th>
              <th><a id="buttons" class="btn btn-primary btn-sm " href="/baggageCreation" role="button"> Add Baggage</a></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mario Calderon Montero</td>
              <td>Green</td>
              <td>20 Kg</td>
              <td>--</td>
              <td> <a id="buttons" class="btn btn-primary btn-sm "  role="button">Delete</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id ="col" class="col">

      </div>
    </div>
  </div>
</div>



