<div  id="background" >
  <div class="container">
    <div class="row align-items-center">
      <div id="col" class="col">
      </div>
      <div id="col2" class="col">
        <table id="table" class="table "> <!--Table with the baggage information-->
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Color</th>
              <th scope="col">Weight</th>
              <th scope="col">Price</th>
              <th><a id="buttons" class="btn btn-primary btn-sm " href="/baggageCreation" role="button"> Add Baggage</a></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let suitcase of baggage">
              <th scope="row">{{suitcase.id}}</th>
              <td>{{suitcase.color}}</td>
              <td>{{suitcase.weight}} Kg</td>
              <td>--</td>
              <td> <a id="buttons" class="btn btn-primary btn-sm "  (click)="deleteBaggage(suitcase.id)" role="button">Delete</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id ="col" class="col">

      </div>
    </div>
  </div>
</div>



