<div  id="background" >
  <div class="container">
    <div class="row align-items-center">
      <div id="col" class="col">
      </div>
      <div id="col2" class="col">
        <table id="table" class="table "> <!--Se debe llenar con el la informacion de la BD-->
          <thead>
            <tr>
              <th scope="col">Route Code</th>
              <th scope="col">Date</th>
              <th scope="col">Origin</th>
              <th scope="col">Destination</th>
              <th scope="col">Hour</th>
              <th><a id="buttons" class="btn btn-primary btn-sm " href="/routeCreation" role="button"> Create Route</a></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>5-5-22</td>
              <td>San Jose, Costa Rica</td>
              <td>London, England</td>
              <td>5:15 pm</td>
              <td> <a id="buttons" class="btn btn-primary btn-sm " (click)="editView()" role="button">Edit</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id ="col" class="col">

      </div>
    </div>
  </div>
</div>

