<div  id="background" >
  <div class="container">
    <div class="row align-items-center">
      <div id="col" class="col">
      </div>
      <div id="col2" class="col">
        <table id="table" class="table "> <!--Se debe llenar con el la informacion de la BD-->
          <thead>
            <tr>
              <th scope="col">Route Code</th>
              <th scope="col">Date</th>
              <th scope="col">Origin</th>
              <th scope="col">Destination</th>
              <th scope="col">Hour</th>
              <th><a id="buttons" class="btn btn-primary btn-sm " href="/routeCreation" role="button"> Create Route</a></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let route of routes">
              <th scope="row">{{route.route_code}}</th>
              <td>{{route.day}}/{{route.month}}/{{route.year}}</td>
              <td>{{route.origin}}</td>
              <td>{{route.destination}}</td>
              <td>{{route.hours}}:{{route.minutes}}</td>
              <td> <a id="buttons" class="btn btn-primary btn-sm " (click)="editView(route.route_code)" role="button">Edit</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id ="col" class="col">

      </div>
    </div>
  </div>
</div>

