<div class="row align-items-center">
  <div id="col1" class="col">
    <div id = cont class="container">
      <label id="description">CREATE A Flight <br>
        To create a suitcase you must select the predefined route, the boarding gate and the status. <br>
        The system will create a specific id for each flight. <br>
        Status is the seats availability in the flight. <br>
        You can only out two scales
      </label>
    </div>
  </div> <!--Agregar funcionalidad para guardad los datos del input-->
  <div class="col">
    <h3>Create a New Fligth</h3>
    <div class="input-group mb-3">
      <label id="span" class="input-group-text" for="inputGroupSelect01">Airplane</label>
      <select #plate class="form-select" id="inputGroupSelect01">
        <option selected>Select the Airplane</option>
        <option *ngFor="let airplane of airplanes">{{airplane.plate}}</option>
      </select>
    </div>
    <div class="input-group mb-3">
      <label id="span" class="input-group-text" for="inputGroupSelect01">Route</label>
      <select #route class="form-select" id="inputGroupSelect01">
        <option selected>Select the route</option>
        <option *ngFor="let route of routes">{{route.route_code}}  {{route.origin}} - {{route.destination}}</option>
      </select>
    </div>

    <div class="input-group">
      <span id="span" class="input-group-text">Boarding Gate</span>
      <input #gate type="number" aria-label="Color" class="form-control" required placeholder="Example: A58">
    </div>
    <br>
    <div class="input-group">
      <span id="span"  class="input-group-text">Price</span>
      <input #price type="number" aria-label="Id" class="form-control"  placeholder="$">
    </div>
    <br>
    <div class="input-group mb-3">
      <label  id="span" class="input-group-text" for="inputGroupSelect01">Status</label>
      <select #status class="form-select" id="inputGroupSelect01">
        <option selected>Select the status</option>
        <option #1>Enable </option>
        <option #0> Unable</option>
      </select>
    </div>
    <div class="input-group">
      <span id="span" class="input-group-text">Scale 1</span>
      <input #scale1 type="text" aria-label="Color" class="form-control" placeholder="Example: San josé, Costa Rica">
    </div>
    <br>
    <div class="input-group">
      <span id="span" class="input-group-text">Scale 2</span>
      <input #scale2 type="text" aria-label="Color" class="form-control" placeholder="Example: Habana, Cuba">
    </div>
    <br>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button id="buttons" class="btn btn-primary me-md-2" type="button" (click)="goBack()">Cancel</button>
      <button id="buttons" class="btn btn-primary" type="button" (click)="createFlight(plate.value,route.value, gate.value,price.value,status.value,scale1.value,scale2.value)">Create</button>
    </div>
  </div>
</div>
